<script lang="ts" setup>
import { ref } from "vue";

const num = ref(0);
</script>

<template>
  <v-container>
    <v-row>
      <v-text-field
        label="Please input Number"
        v-model.number="num"
        :rules="[(v) => !!v || 'Number is not empty!!']"
        required
      ></v-text-field>
    </v-row>
    <v-row>
      <v-col cols="1" v-for="index in num" :key="index">
        {{ index }}
      </v-col>
    </v-row>
  </v-container>
</template>
