<script setup lang="ts">
import FirstComponent from "@/components/FirstComponent.vue";
import SecondComponent from "@/components/SecondComponent.vue";
import { ref, reactive } from "vue";
const state = reactive({
  result1: 0,
  result2: 0,
});
function inc() {
  state.result1 = state.result1 + 1;
  state.result2 = state.result1 * 2;
  if (state.result1 < 0 && state.result2 < 0) {
    state.result1 = 0;
    state.result2 = 0;
  }
}

function dec() {
  state.result2 = state.result2 - 2;
  state.result1 = state.result2 / 2;
  if (state.result2 < 0 && state.result1 < 0) {
    state.result1 = 0;
    state.result2 = 0;
  }
}
</script>

<template>
  <v-container>
    <v-row>
      <v-col style="margin: 60px 0 20px 0">
        <v-row style="margin: 30px 0 20px 0"><FirstComponent /></v-row>
        <v-row style="margin: 30px 0 20px 0"
          ><div>{{ state.result1 }}</div></v-row
        >
        <v-row style="margin: 30px 0 20px 0"
          ><v-col><v-btn @click="inc">INCREMENT</v-btn></v-col></v-row
        >
      </v-col>
      <v-col style="margin: 60px 0 20px 0">
        <v-row style="margin: 30px 0 20px 0"><SecondComponent /></v-row>
        <v-row style="margin: 30px 0 20px 0"
          ><div>{{ state.result2 }}</div></v-row
        >
        <v-row style="margin: 30px 0 20px 0"
          ><v-col><v-btn @click="dec">DECREASE</v-btn></v-col></v-row
        >
      </v-col>
    </v-row>
  </v-container>
</template>
