<script lang="ts" setup>
import { ref } from "vue";
let imgIcon = ref("../../feeling_imgs/smile.png");
let text = ref("Smile");

function changeIcon(icon: string) {
  if (icon == "angry") {
    text.value = "Angry";
    imgIcon.value = "../../feeling_imgs/angry.png";
  } else if (icon == "cute") {
    text.value = "Cute";
    imgIcon.value = "../../feeling_imgs/cute.png";
  } else if (icon == "excited") {
    text.value = "Excited";
    imgIcon.value = "../../feeling_imgs/excited.png";
  } else if (icon == "pain") {
    text.value = "Pain";
    imgIcon.value = "../../feeling_imgs/pain.png";
  } else if (icon == "shocked") {
    text.value = "Shocked";
    imgIcon.value = "../../feeling_imgs/shocked.png";
  } else if (icon == "smile") {
    text.value = "Smile";
    imgIcon.value = "../../feeling_imgs/smile.png";
  }
}
</script>

<template>
  <v-container>
    <v-card width="1300" height="800">
      <v-row>
        <v-col>
          <img :src="imgIcon" />
        </v-col>
        <v-col>
          <h1 style="text-align: center">{{ text }}</h1>
          <v-spacer style="margin-top: 40px"></v-spacer>
          <v-btn
            class="color"
            width="700"
            height="50"
            @click="changeIcon('angry')"
            >ANGRY</v-btn
          ><v-spacer style="margin-top: 20px"></v-spacer>
          <v-btn
            class="color"
            width="700"
            height="50"
            @click="changeIcon('cute')"
            >CUTE</v-btn
          ><v-spacer style="margin-top: 20px"></v-spacer>
          <v-btn
            class="color"
            width="700"
            height="50"
            @click="changeIcon('excited')"
            >EXCITED</v-btn
          ><v-spacer style="margin-top: 20px"></v-spacer>
          <v-btn
            class="color"
            width="700"
            height="50"
            @click="changeIcon('pain')"
            >PAIN</v-btn
          ><v-spacer style="margin-top: 20px"></v-spacer>
          <v-btn
            class="color"
            width="700"
            height="50"
            @click="changeIcon('shocked')"
            >SHOCKED</v-btn
          ><v-spacer style="margin-top: 20px"></v-spacer>
          <v-btn
            class="color"
            width="700"
            height="50"
            @click="changeIcon('smile')"
            >SMILE</v-btn
          >
        </v-col>
      </v-row>
    </v-card>
  </v-container>
</template>

<style scoped>
.color:focus {
  background-color: yellow;
}
</style>
