<script lang="ts" setup>
import { ref, reactive } from "vue";

class prodCard {
  id: number;
  name: String;
  price: number;
  constructor(id: number, name: String, price: number) {
    this.id = id;
    this.name = name;
    this.price = price;
  }
}

const prodList = reactive<prodCard[]>([]);

let sumPrice = ref(0);

const addProd = function (pd: prodCard) {
  prodList.push(pd);
  sumPrice.value = sumPrice.value + pd.price;
};

const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);
</script>

<template>
  <v-container>
    <v-row>
      <v-col>
        <v-row style="max-height: 600px" class="overflow-y-auto">
          <v-col v-for="(product, index) of products" :key="index">
            <v-card height="130" width="160">
              <v-card-title style="text-align: center">
                {{ product.name }}
              </v-card-title>
              <v-card-subtitle style="text-align: center">
                {{ product.price }}
              </v-card-subtitle>
              <v-btn style="margin-left: 30%" @click="addProd(product)"
                >ADD</v-btn
              >
            </v-card>
          </v-col>
        </v-row>
      </v-col>
      <v-col>
        <v-table style="height: 450px" class="overflow-y-auto">
          <thead>
            <th>id</th>
            <th>name</th>
            <th>price</th>
          </thead>
          <td
            colspan="4"
            style="text-align: center"
            v-if="prodList.length === 0"
          >
            No Data
          </td>
          <tr
            v-for="(product, index) of prodList"
            :key="index"
            style="text-align: center; margin-top: 20px"
          >
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
          </tr>
        </v-table>
        <h1 class="text-h3 ma-10" style="position: fixed; bottom: 40px">
          Sum: {{ sumPrice }}
        </h1>
      </v-col>
    </v-row>
  </v-container>
</template>
